# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Database files
*.sqlite
*.sqlite3

# OS-specific files
.DS_Store
Thumbs.db

# Build directories
dist/
build/

# IDE specific files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Coverage directory used by tools like istanbul
coverage/

# Temporary files
tmp/
temp/
